<div class="container">
    <h3> Dish Not Found</h3>

    <a id="details" class="btn btn-outline-secondary " asp-controller="Food" asp-action="Index">View All Dishes</a>
    <a id="details" class="btn btn-outline-secondary " asp-controller="Home" asp-action="Index">Goto Home</a>
</div>